
<div id="eventResults" style="background-color:#C3C3C3; width:250px">

  <% @events.each do |event| %>
    <p style="font-size:10px" id="<%= event.id %>"><b><%= link_to event.title, event_path(event.id) %></b></p>
  <% end %>

</div>