
<div id="eventResults" style="background-color:#C3C3C3; width:250px">
<% @events.each do |event| %>
  <p style="font-size:10px"><%= link_to event.title << ' ' << event.main_category << '/'<< event.sub_category, event_path(event.id) %></p>
<% end %>

</div>