#car_high,#car_sponsor	{width:100%;margin:30px 0 0 0;}


li span {
    display:block;
    margin:5px;
}

.next,
.prev {
    cursor:pointer;
}
.ch_h	{font-size:1.4em;font-weight:bold;}
.ch_act	a{padding:0 5px 0 0;}
.feat_date	{float:right; text-align:right;}
.carousel, .carousel2 {
    margin:0 0 20px 0;
    padding:0;
    list-style:none;
    width:100%;
    overflow:hidden;
}
.carousel img,.carousel2 img {height:180px; width:; float:left;padding-right:15px;}
.carousel li, carousel2 li {
    text-align:left;
    display:block;
}
.carousel li p,.carousel2 li p	{padding:0 0 1em 0;}


.carousel-pagination li {
    display:block;
    width:10px;
    height:10px;
    margin-right:5px;
    cursor:pointer;
    float:left;
    background:#333;
}

.carousel-pagination .carousel-pagination-active {
    background:#ff0000;
}