<h3>Hauptkategorien:</h3>
<% event_main_cats.each do |k,v| %>
  <p><%= link_to (k + '(' + v.to_s + ')'), get_main_cat_events_path(k) %></p>
<% end %>

<% if !event_sub_cats.empty? %>
  <h3>Unterkategorien:</h3>
  <% event_sub_cats.each do |k,v| %>
    <p><%= link_to (k + '(' + v.to_s + ')'), get_sub_cat_events_path(k) %></p>
  <% end %>
<% end %>