
<% old_event = true %>

<% if event.start_date && event.start_date >= Date.today %>
    <b style=""><%= event.start_date.to_s << ' '<< event.start_date_time.strftime('%H:%M:%S') %></b>
    <% old_event = false %>
<% end %>

<% if event.repeat_dates && event.repeat_dates.length != 0 %>
    
  <% num = 0 %>
  <p><b>
    <% event.repeat_dates.split(' ').each do |date| %>
      
      
        <% if date >= Date.today.to_s %>
        
          <% if num == 0 %>
            folgende Daten:
          <% end %>
          
          <% num += 1 %>
          <% old_event = false %>
          
          <%= date.to_s + '/' %>
          
          <% if num == max_num %>
            <% break %>
          <% end %>
          
        <% end %>
    <% end %>
  </b></p>
  
<% end %>

<% if old_event %>
  <b style="float:right; margin-right:10px">Veranstaltung ist veraltet</b>
<% end %>
